<div class="card">
    <form class="card-body">
        <h4 class="card-title"> User Information </h4>
        <div class="alert alert-danger" role="alert" *ngIf='errMessage'>
            {{errMessage}}
        </div>
        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName"
                placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName"
                placeholder="Enter Last name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="phoneNo">Phone number</label>
            <input type="text" class="form-control" name="phoneNo" [(ngModel)]="user.phoneNo"
                placeholder="Enter Phone number">
        </div>

        <div class="form-group">
            <label for="profilePic">Profile Image</label>
            <input type="file" class="form-control" name="profilePic" (change)="handleFileSelect($event)" [(ngModel)]="user.profilePic">
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
    </form>